@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  background-color: #333;
  color: #ddd;
}

body {
  margin: 0;
}

header {
  
}

main {
  max-width: 8in
}
